
.container {
  margin-top: var(--navbar-height, 630px);
}

.show_EmployeeList {
  margin-top: 120px; /* adjust for your navbar */
  min-height: 100vh;
  padding: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.search.bar {
  margin-top: auto;
  padding-top: 20px;
}


.but {
     display: flex;
    justify-content: flex-start; /* Aligns button to left */
     width: 150px; /* set any width you like */
   transition: all 0.3s ease;
    outline: none;
  
}
